:root {
    --main-color: rgb(0, 0, 0);
    --border-shadow: rgba(34, 133, 204, 0.681);
  
    --border-color: rgb(211, 226, 232);
    --input-border: rgb(159, 179, 184);
    --button-hover: rgb(2, 27, 66);
    --active-input-color: rgba(255, 255, 255);
    --button-active-shadow: shadow inset 0px 0px 5px rgba(0, 0, 0, 0.24);
  }